{% extends 'global/base_no_search.html' %}

{% block title %}Register |{% endblock title %}

{% block content %}

  <div class="main-content center container">
    {% comment %} Mostrando qual o numero de sessões que tem nessa página. {% endcomment %}
    {% comment %} <h2>Número de Sessões: {{ request.session.number }}</h2>     {% endcomment %}
    <div class="container main-logo-text">
      <h2>Cadastre sua conta</h2>
    </div>
  </div>
  

  <div class="main-content container">
    {% include 'global/partials/messages.html' %}
    {% include 'global/partials/form.html' %}

{% endblock content %}